<%= form_for([@poll, @question]) do |f|%>

  <div class="field">
    <%= f.label "Enter your question:" %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit "Add question to poll" %>
  </div>
<% end %>
