<tr>
  <td><%= question.text %></td>
  <td><%= link_to 'Edit', edit_poll_question_path(@poll.id, question) %></td>
  <td><%= link_to 'Delete', poll_question_path(@poll.id, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><b><%= link_to 'Show answers to this question', poll_question_answers_path(@poll.id, question,)%></b></td>
</tr>
