<h1>Take this awesome poll</h1>
<br />

<p>
  <b>Poll Name:</b>
  <%= @poll.name %>
</p>

<p>
 <b>Poll Questions:</b>
</p>

<%= link_to "Take this poll", new_poll_responses_path(@poll) %>

<br />
The link to this poll is: <%= link_to root_url + "polls/#{@poll.id}", root_url + "polls/#{@poll.id}" %>
<br />
<b><%= link_to 'View all polls', polls_path %></b>
