<h1><%= @poll.name %> </h1>
<br />
<%= link_to "Take this awesome poll", new_poll_responses_path(@poll), :class=>"btn btn-primary btn-large"  %>
<br />
<br />
The link to this poll is: <%= link_to root_url + "polls/#{@poll.id}", root_url + "polls/#{@poll.id}" %>
<br />
<br />
<b><%= link_to 'View all polls', polls_path %></b>
